In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [15]:
df.sample(10) # it will show any 10 values

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6101,2019-03-26 16:02:40,2019-03-26 16:50:36,1,15.85,49.0,0.00,5.76,56.56,green,credit card,Richmond Hill,Norwood,Queens,Bronx
103,2019-03-31 11:50:36,2019-03-31 11:54:00,4,0.43,4.0,0.00,0.00,7.30,yellow,cash,Union Sq,Union Sq,Manhattan,Manhattan
4513,2019-03-01 18:12:55,2019-03-01 18:26:37,1,1.90,10.5,2.96,0.00,17.76,yellow,credit card,Upper East Side North,Midtown Center,Manhattan,Manhattan
6130,2019-03-17 15:02:34,2019-03-17 15:28:45,1,7.80,26.0,0.00,0.00,26.80,green,credit card,Bay Ridge,Homecrest,Brooklyn,Brooklyn
5558,2019-03-06 20:03:47,2019-03-06 20:08:58,1,0.80,5.5,0.00,0.00,6.80,green,credit card,Steinway,Steinway,Queens,Queens
4405,2019-03-05 20:25:25,2019-03-05 20:46:46,1,3.06,15.0,4.70,0.00,23.50,yellow,credit card,Little Italy/NoLiTa,UN/Turtle Bay South,Manhattan,Manhattan
1308,2019-03-17 00:48:56,2019-03-17 00:59:54,1,2.34,10.0,3.45,0.00,17.25,yellow,credit card,Midtown Center,Greenwich Village North,Manhattan,Manhattan
1281,2019-03-06 10:39:45,2019-03-06 11:12:05,2,5.70,24.5,5.55,0.00,33.35,yellow,credit card,Times Sq/Theatre District,Financial District North,Manhattan,Manhattan
5312,2019-03-28 09:56:48,2019-03-28 10:29:33,1,10.00,34.0,0.00,5.76,43.06,yellow,cash,Midtown North,LaGuardia Airport,Manhattan,Queens
5112,2019-03-08 23:18:26,2019-03-08 23:26:56,4,1.74,8.5,3.08,0.00,15.38,yellow,credit card,Lincoln Square East,Clinton West,Manhattan,Manhattan

In [9]:
df.head(5) # it will show the first values

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [13]:
df.tail(3) #it will show the last values

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [19]:
df['color'].isnull() # it will identify the missing value

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: color, Length: 6433, dtype: bool

In [21]:
df['color']

0       yellow
1       yellow
2       yellow
3       yellow
4       yellow
         ...
6428     green
6429     green
6430     green
6431     green
6432     green
Name: color, Length: 6433, dtype: object

In [23]:
df['color'].isnull().sum()

0

In [25]:
df['payment']

0       credit card
1              cash
2       credit card
3       credit card
4       credit card
           ...
6428    credit card
6429    credit card
6430           cash
6431    credit card
6432    credit card
Name: payment, Length: 6433, dtype: object

In [29]:
df['payment'].isnull().sum()

44

In [35]:
df.isnull().sum() # it will show the missing values in the data of all types

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [41]:
(44/6433)*100 # it will show the percentage of missing value of curtain type and this is the percentage of payment

0.6839732628633608

In [43]:
(26/6433)*100 # it will show the percentage of missing value of curtain type and this is the percentage of pickup_zone

0.4041660189647132

In [47]:
(df.isnull().sum()/6433)*100 # this is another type of finding percentage

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [49]:
df.shape[0] #will the find the total values in it

6433

In [76]:
(df.isnull().sum()/df.shape[0])*100 # finding the percentage

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [102]:
df.drop('dropoff_borough',axis=1,inplace=True)  # will delete  and it will work only one time and shouldn't run another time and for deleting the rows we use axis=1

In [104]:
df.drop(['color','payment','total'],axis=1) # will delete

,dropoff,passengers,distance,fare,tip,tolls,dropoff_zone
0,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,UN/Turtle Bay South
1,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,Upper West Side South
2,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,West Village
3,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,Yorkville West
4,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,Yorkville West
...,...,...,...,...,...,...,...
6428,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,Central Harlem North
6429,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,East Concourse/Concourse Village
6430,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,Bushwick North
6431,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,East Flatbush/Remsen Village
6432,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,Windsor Terrace

In [106]:
df

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,dropoff_zone
0,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South
1,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South
2,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,West Village
3,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Yorkville West
4,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Yorkville West
...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Central Harlem North
6429,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village
6430,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Bushwick North
6431,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village
6432,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Windsor Terrace

In [108]:
df.drop([2,3,6432,6431],axis=0) # for deleting columns we axis=0

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,dropoff_zone
0,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South
1,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South
4,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Yorkville West
5,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Midtown East
6,2019-03-26 21:17:29,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Two Bridges/Seward Park
...,...,...,...,...,...,...,...,...,...,...
6426,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Upper West Side North
6427,2019-03-23 18:49:12,1,7.07,20.0,0.00,0.0,20.00,green,cash,East Harlem South
6428,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Central Harlem North
6429,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village
6430,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Bushwick North